data/
runs/
core
*.ply
*.pdf
*pt*
*.pyc
*.sh
*.log
*.jpg
*.png
*.npz
*.npy
*.pkl
*.mp4
*.gif
*.swp
*.DS_Store*
*.obj
*.ply
*.json
*.blend
*.blend*
.vscode/
__pycache__
hot3d/hot3d/dataset/
runs/
rerun_files/
