core
*.ply
*.pdf
*pt*
*.pyc
*.sh
*.log
*.jpg
*.png
*.npz
*.npy
*.pkl
*.mp4
*.gif
*.swp
*.DS_Store*
*.obj
*.ply
*.json
*.blend
*.blend*
.vscode/
__pycache__
human_body_prior/
venv_gemma/
venv_gemma3n/
unsloth_compiled_cache/
hot3d/hot3d/dataset/
gemma/data/

# YoYo AI version control directory
.yoyo/

